<head>
  <meta charset="UTF-8">

  <% if (locals.title) { %>
  <title><%= locals.title %></title>
  <% } %>

  <link rel="stylesheet" type="text/css" href="/css/app.css" />
  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>