<nav class="app-nav-container">
    <ul>
        <% sideNavs.forEach(function(sideNav){ %>
        <li><a href="/<%= sideNav.appId %>"
                class="app-nav-item<%= sideNav.appId === appId ? ' active' : '' %>"><%= sideNav.title %></a></li>
        <% }); %>
    </ul>
</nav>