<nav class="app-nav-container">
    <ul>
        <% navs.forEach(function(nav){ %>
        <li><a href="/<%= nav.appId %>"
                class="app-nav-item<%= nav.appId === appId ? ' active' : '' %>"><%= nav.title %></a></li>
        <% }); %>
    </ul>
</nav>