<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>
  <main>
    <div class="jumbotron">
      <h1>About</h1>
      <p>Welcome to About Page</p>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>